<!DOCTYPE html>
<html lang="en" ng-app="friendsList">
<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<title>First Angular</title>
</head>
<body ng-controller="mainCtrl">
	
	<h1>My Friends</h1>
	
	<div ng-repeat="friend in friends">
		<p>{{friend | uppercase}}</p>
	</div>
	<input type="text" ng-model="newName"></input>
	<button ng-click="addFriend(newName)"></button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="JS/app.js"></script>
	<script src="JS/mainCtrl.js"></script>
</body>
</html>